<a href="https://colab.research.google.com/github/gourab-sinha/Machine_Learning/blob/master/Linear%20Regression/Multivariable_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multivariable Linear Regression

In [0]:
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn import model_selection
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
data = datasets.load_boston()
X = data.data
Y = data.target
df = pd.DataFrame(X)
df.columns = data.feature_names
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [23]:
def add_new_features(df):
  row,col = df.shape
  print(row,col)
  columns = df.columns
  for i in range(0,col):
    for j in range(i+1,col):
      feature_name = str(columns[i])+str("_")+str(columns[j])
      df[feature_name] = df[columns[i]]*df[columns[j]]
  
  return df


df = add_new_features(df)
df.shape

506 13

(506, 91)

In [30]:
# Training and Testing Data
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,test_size=0.25,random_state=0)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

# Traingin and Testing with added features
X_with_nf = df.values
X_train_nf, X_test_nf, Y_train_nf, Y_test_nf = model_selection.train_test_split(X_with_nf,Y,test_size=0.25,random_state = 0)
print(X_train_nf.shape)
print(X_test_nf.shape)
print(Y_train_nf.shape)
print(Y_test_nf.shape)

(379, 13)
(127, 13)
(379,)
(127,)
(379, 13)
(127, 13)
(379,)
(127,)

In [31]:
lr_model_1 = LinearRegression()
lr_model_2 = LinearRegression()

# Training models
lr_model_1.fit(X_train,Y_train)
lr_model_2.fit(X_train_nf,Y_train_nf)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
Y_pred = lr_model_1.predict(X_test)
Y_pred_nf = lr_model_2.predict(X_test_nf)

In [37]:
# Training and Test scores
print("Training Score: ",lr_model_1.score(X_train,Y_train))
print("Test Score: ",lr_model_1.score(X_test,Y_test))

# Training and Test scores with new features
print("Training Score: ",lr_model_2.score(X_train_nf,Y_train_nf))
print("Test Score: ",lr_model_2.score(X_test_nf,Y_test_nf))

Training Score:  0.7697699488741149
Test Score:  0.635463843320211
Training Score:  0.7697699488741149
Test Score:  0.635463843320211